// Estilos do footer
.bg-azul {
    background: linear-gradient(180deg, #195996 0%, #3C7EBF 100%);

    & ul {
        & li {
            margin-top: 25px;

            & a {
                &:hover {
                    color: #eaeaea;
                }
            }
        }
    }

    & svg:hover {
        transition: transform 0.2s ease-in-out;
        transform: scale(1.1);
    }

    .bg-primary-custom {
        background: #3C7EBF;
    }
}

.botao-whatsapp {
    $botao-whatsapp-color: rgb(26, 202, 35);
    $zindex-botao-whatsapp: 990;
    box-shadow: $box-shadow;
    @include linear-rfs(2rem, 2.25rem, 320px, 1920px);
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    padding: .33em;
    isolation: isolate;
    color: $white;
    background-color: $botao-whatsapp-color;
    transition: $transition-base;

    &:hover {
        color: $white;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0%;
        height: 0%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: $transition-base;
        z-index: -1;
        @include gradient-directional(darken($botao-whatsapp-color, 10), lighten($botao-whatsapp-color, 10), 50deg);
        border-radius: 9999px;
    }

    @include media-hover {
        box-shadow: $box-shadow-lg;

        &::after {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }

    &-wrapper {
        z-index: $zindex-botao-whatsapp;
    }

    &-hoverable {
        display: none;

        @media (hover: hover) {
            display: flex;
        }
    }

    &-not-hoverable {
        display: none;

        @media (hover: none) {
            display: flex;
        }
    }
}