// Estilos do footer
.bg-azul {
    background: linear-gradient(180deg, #195996 0%, #3C7EBF 100%);

    & ul {
        & li {
            margin-top: 25px;

            & a {
                &:hover {
                    color: #eaeaea;
                }
            }
        }
    }

    & svg:hover {
        transition: transform 0.2s ease-in-out;
        transform: scale(1.1);
    }

    .bg-primary-custom {
        background: #3C7EBF;
    }
}